<%= form_for :user, url: user_login_path, html: { class: 'sign-in form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'control-label' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <br />
  <%= f.submit 'Submit', class: 'btn btn-default' %> <%= link_to 'or Sign Up', user_signup_path, class: 'btn btn-info' %>
<% end %>
