
<%= (render partial: 'layouts/errors', formats: [:html], locals: { klass: @user }) if @user %>

<%= form_for :user, url: user_signup_path, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>
  <div class="control-group">
    <%= f.label :login, class: 'control-label' %>
    <div class="controls"><%= f.text_field :login %></div>
  </div>
  <div class="control-group">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls"><%= f.password_field :password %></div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <div class="controls"><%= f.password_field :password_confirmation %></div>
  </div>
  <div class="control-group">
    <%= f.label :soundcloud_id, 'SoundCloud', class: 'control-label' %>
    <div id="soundcloud-connect" class="controls">
      <% if @user.soundcloud? %>
        <span class="text-success">Connected</span>
      <% else %>
        <%= link_to 'Connect', '#', class: 'btn btn-primary' %>
      <% end %>
      <%= f.hidden_field :soundcloud_id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.submit 'Create Account', class: 'btn' %>
  </div>
<% end %>