<!DOCTYPE html>
<html class="application <%= "#{controller.controller_path.split('/').join(' ')} #{controller.action_name.gsub(/_/, '-')}" %>">
  <head>
    <title><%= @title || "Trax" %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to '<i class="fa fa-headphones"></i> TRAX'.html_safe, dashboard_path, class: 'navbar-brand' %>
        </div>
        <% if logged_in? %>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to 'Dashboard', dashboard_path %></li>
              <li><%= link_to 'Projects', '#' %></li>
            </ul>
          </div>

          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li><%= link_to current_user.name, '#', class: 'icon-cog pull-icon-right' %></li>
              <li><%= link_to content_tag(:i, nil, class: 'icon-sign-out'), user_logout_path %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container content-section">
      <%= render 'layouts/flash_messages' %>

      <%= yield %>
    </div>

    <div class="container">
      <footer>
        <%= yield :footer %>
      </footer>
    </div>
  </body>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
